.list-inline {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;

    > li {
        display: inline-flex;
        flex-flow: row wrap;
    }

    &--50 {
        > li {
            flex: 1 0 100%;
            @include media-breakpoint-up(md) {
                flex: 1 0 50%;
            }
        }
    }
}

.text-primary {
    color: color-var(--global__colors__primary);
}


dl {
    position: relative;
    margin-bottom: 0;
    padding: 0 var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--default);

    &:first-child {
        margin-top: var(--global__sizing__text-spacing--default);
    }

    &:last-child {
        padding-bottom: 0;
    }

    &:not(:last-child):before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: color-var(--global__colors__primary);
    }

    dt {
        position: relative;
        top: calc(var(--global__sizing__text-spacing--half) * -1);
        margin-bottom: var(--global__sizing__layout-spacing--half);
        display: inline-block;
        padding: 0 var(--global__sizing__text-spacing--half);
        color: color-var(--global__colors__primary);
        border: 1px solid color-var(--global__colors__primary);
        font-weight: normal;

        &:before {
            content: '';
            width: var(--global__sizing__layout-spacing--default);
            height: 1px;
            position: absolute;
            left: calc(var(--global__sizing__layout-spacing--default) * -1);
            top: calc(var(--global__sizing__text-spacing--half) - 1px);
            background: color-var(--global__colors__primary);
        }
    }

    dd {
        margin-bottom: var(--global__sizing__layout-spacing--half);
    }
}
