input[type="submit"] {
    width: 100%;

    @include media-breakpoint-up(md) {
        max-width: 235px;
    }
}

.gform_fields {
    display: flex;
    flex-flow: row wrap;

    > li {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 100%;

        &:first-child,
        &:nth-child(2) {
            @include media-breakpoint-up(md) {
                flex: 1 0 50%;
            }
        }

        &:first-child {
            @include media-breakpoint-up(md) {
                padding-right: var(--global__sizing__text-spacing--half);
            }
        }
        &:nth-child(2) {
            @include media-breakpoint-up(md) {
                padding-left: var(--global__sizing__text-spacing--half);
            }
        }
    }
}
