%heading,
.heading {
    display: inline-block;
    box-shadow: inset 0 -6px 0px color-var(--global__colors__secondary);

    &--unstyled {
        box-shadow: none;
    }
    &--xlarge {
        @extend %heading--unstyled;
    }
    &--with-icon {
        @extend %heading--unstyled;
        display: inline-flex;
        align-items: center;

        .icon {
            margin-right: var(--global__sizing__text-spacing--half);

            > svg {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
}
