$font-size-base: 14px;
$font-size-small: 12px;
$font-family-base: 'Roboto Mono', monospace;
$font-family-headings: $font-family-base;

$icon-primary-color: color-var(--global__colors__primary);
$icon-contrast-color: color-var(--global__body__background);

$modal-container-padding: 0;
$modal-max-width: 400px;
$modal-close-position-top: 2rem;
$modal-close-position-right: 2rem;
$modal-close-size: 3rem;
