.footer-nav {
    padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(md) {
        flex-flow: row nowrap;
        padding-top: calc(#{var(--header__nav-menu__padding-vertical)} * 1.75);
        padding-bottom: calc(#{var(--header__nav-menu__padding-vertical)} * 1.75);
    }

    &__copyright {
        > p {
            font-size: $font-size-small;
            margin: 0;
        }
    }
}
