.header-nav {
    justify-content: center;

    @include media-breakpoint-up(md) {
        justify-content: flex-end;
    }

    &__menu {
        @include media-breakpoint-down(sm) {
            justify-content: center;
            flex-basis: auto;
        }
    }
    .nav-menu__item {
        justify-content: center;

        @include media-breakpoint-down(sm) {
            &:not(:last-child) {
                margin-bottom: var(--global__sizing__text-spacing--half);
            }
        }

        &:last-child {
            @include media-breakpoint-up(md) {
                margin-left: var(--global__sizing__layout-spacing--half);
            }

            > a {
                @extend %button, %button--inverted;
            }
        }
    }
}
