.nav-menu {
    &__item {
        display: flex;
        align-items: center;
        text-transform: none;
        font-weight: normal;
        font-size: $font-size-base;
    }
    &__toggle-label {
        display: none;
    }
}
