.post-action-card {
    cursor: pointer;

    &__overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        background-color: color-var(--global__colors__primary, .95);
        opacity: 0;
        transition: all 0.15s ease-in;

        .post-action-card:hover & {
            top: var(--global__sizing__layout-spacing--half);
            left: var(--global__sizing__layout-spacing--half);
            right: var(--global__sizing__layout-spacing--half);
            bottom: var(--global__sizing__layout-spacing--half);
            opacity: 1;
        }
    }

    &__container {
        text-align: center;
        background-color: color-var(--global__colors__white);
    }

    &__title {
        display: block;
        padding: var(--global__sizing__text-spacing--default);
    }

    &__content {
        display: none;
        padding: 0 var(--global__sizing__text-spacing--default) var(--global__sizing__text-spacing--default);

        #post-action-card-modal & {
            display: block;
        }

        > p:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: none;
        padding: 0 var(--global__sizing__text-spacing--default) var(--global__sizing__text-spacing--default);

        #post-action-card-modal & {
            display: block;
        }
    }

    &__image-container {
        position: relative;
    }
}
